body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #080808;
}

.main {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.heading {
  font-size: 2em;
  width: 100%;
  height: 80px;
  padding-left: 20px;
}

.leaderboard {
  display: flex;
  width: 100%;
  gap: 40px;
  padding: 1em;
}

.leaderboard .show-list {
  width: 60%;
  margin-top: 1em;
  height: 320px;
}

.leaderboard .show-list .show-list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard .show-list .show-list-head button {
  padding: 0.5em 1em;
}

.leaderboard .show-list #leaderboard {
  border: 1px solid black;
  height: 100%;
}

.leaderboard .add-item {
  width: 40%;
  height: 500px;
  padding: 1em;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5em 10px 0.5em -30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form input[type=text],
form input[type=number] {
  padding: 0.5em;
  border: 1px solid #080808;
  border-radius: 4px;
  width: 100%;
}

form input[type=submit] {
  padding: 0.5em 1em;
  align-self: flex-end;
}
